.box-explication {
  width: 31.25rem;
  height: 5rem;
  margin-top: 1rem;
  border: 0.0625rem solid #001BA1;
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.3125rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-text {
  color: #a9a9a9;
  font-weight: normal;
}



/* Extra pequenos dispositivos (xs) - celulares */
@media (max-width: 599px) {
  .box-explication {
    width: 18.75rem;  
  }
}

/* Pequenos dispositivos (sm) - tablets verticais */
@media (min-width: 600px) and (max-width: 959px) {
  .box-explication {
    width: 25rem;
  }
}

/* Dispositivos médios (md) - tablets horizontais e telas menores de desktop */
@media (min-width: 960px) and (max-width: 1279px) {
  .box-explication {
    width: 28.125rem;
  }
}

/* Grandes dispositivos (lg) - desktops */
@media (min-width: 1280px) and (max-width: 1919px) {
  .box-explication {
    width: 31.25rem;
  }
}

/* Extra grandes dispositivos (xl) - monitores maiores */
@media (min-width: 1920px) {
  .box-explication {
    width: 34.375rem;
  }
}