#picture__input {
  display: none;
}

.picture {
  width: 31.25rem;
  height: 31.25rem;
  margin-top: 1rem;
  border-radius: .625rem;
  box-shadow: 0.3125rem 0.3125rem 1rem rgba(0, 0, 0, 0.3);
  background: #e0f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #001BA1;
  border: 1px solid #001BA1;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #001BA1;
  background: #D3EEFF;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.3);
}

.picture__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* Extra pequenos dispositivos (xs) - celulares */
@media (max-width: 599px) {
  .picture {
    width: 18.75rem;  
    height: 18.75rem;
  }
}

/* Pequenos dispositivos (sm) - tablets verticais */
@media (min-width: 600px) and (max-width: 959px) {
  .picture {
    width: 25rem;
    height: 25rem;
  }
}

/* Dispositivos médios (md) - tablets horizontais e telas menores de desktop */
@media (min-width: 960px) and (max-width: 1279px) {
  .picture {
    width: 28.125rem;
    height: 28.125rem;
  }
}

/* Grandes dispositivos (lg) - desktops */
@media (min-width: 1280px) and (max-width: 1919px) {
  .picture {
    width: 31.25rem;
    height: 31.25rem;
  }
}

/* Extra grandes dispositivos (xl) - monitores maiores */
@media (min-width: 1920px) {
  .picture {
    width: 34.375rem;
    height: 34.375rem;
  }
}