#picture__input {
  display: none;
}

.picture {
  width: 37.5rem;
  height: 38.75rem;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed blue;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}


.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.3);
}

.picture__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

